.wrapper{ 
    height: 99vh;
    width: 99%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.toolsWrap{
    height: 4%;
    margin-bottom: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postsWrap{
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 2px;
    border: 1px solid cyan;
}

.containerWrap{
    height: 105px;
    margin-bottom: 2px;
    border: 1px solid rgb(255, 123, 237);
}

.page{
    display: flex;
    justify-content: center;
    height: 4.5%;
    flex-direction: row;
    width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

 li {
  width: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 25px;
}

 li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 20px;
}

 li.active a {
    color: rgb(0, 255, 21);
}
 li.active {
    color: rgb(0, 255, 21);
}

 li a:hover,
 li a.active {
  color: rgb(0, 255, 21);
}