.wrapper{ 
    height: 99vh;
    width: 99%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.toolsWrap{
    height: 4%;
    margin-bottom: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postsWrap{
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 2px;
    border: 1px solid cyan;
}

.containWrap{
    height: 110px;
    margin-bottom: 2px;
    border: 1px solid rgb(143, 71, 23);
}

.inptWrap{
    width: 20%;
    height: 20px;
    background: #fff;
    border: 1px solid #bebebe;
    border-right: 0;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    border-radius: 3px 0 0 3px;
}

.inptWrap:focus{
    outline: 0;
    border-color: #12b4ff;
}

.btnWrap{
    width: 10%;
    height: 24px;
    border: 0;
    background: #12b4ff;
    font-weight: 700;
    color: snow;
    border-radius: 2px;
    transition: all 0.2s ease;
    border-radius: 3px;
}

.btnWrap:hover {
    background-color: #12b4ffbe;
    transition: all 0.2s ease;
    cursor: pointer;
} 

.btnWrap:active {
	transform: translateX(4px);
}

.page{
    display: flex;
    justify-content: center;
    height: 4%;
    flex-direction: row;
    width: 100%;
    border: 1px dashed rgb(255, 0, 128);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

 li {
  width: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 25px;
}

 li a {
  text-decoration: none;
  color: #337ab7;
  font-size: 20px;
}

 li.active a {
    color: rgb(0, 255, 21);
}
 li.active {
    color: rgb(0, 255, 21);
}

 li a:hover,
 li a.active {
  color: rgb(0, 255, 21);
}