.singleWrap{
    margin-top: 10vh;
    color: seashell;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.Wrap{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
}

.col1{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.col2{
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: space-around;
}

.col3{
    display: flex;
    height: 30%;
    flex-direction: column;
    padding-top: 5px;    
}

.col4{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gobackbtn{
    border-radius: 4px;
    padding: 3px 5px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 200ms linear;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #f97068;
    color: #ffe2d1;
    margin-right: 20px;
}

.gobackbtn:hover{  
  background-color: #fff;
  color: #f97068;
}
.gobackbtn:disabled{
    opacity: 0.7;
}

.avatar{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    
}

.img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.genre{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    background-color: #222222;
}
.year{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #222222;
}
.title{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.author{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.desc{
    height: 40%;
    width: 100%;
    display: flex;
 
    background-color: #222222;
    flex-direction: column;
}

.infoTitle{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
}
.info{
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.descTitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px;
    margin-left: 15px;
}
.descInfo{
    width: 100%;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 15px;
}


.commentInput{
    height: 30%;
    width: 100%;
    border-top: 1px solid #ebb22c;
}

.comments{
    height: 70%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.commWrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px;
}

.commentator{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #242424;
    padding-left: 10px;
}

.comm{
    width: 100%;
    color: #ffe2d1;
}

/* Ipad pro */
@media (max-width: 1024px) {
    .singleWrap{
        margin-top: 5vh;
    }
    .col1{
       width: 40%;
    }
    .col2{
       width: 60%;
    }
    .col3{
        height: 35%;
    }
  }

/* Ipad */
@media (max-width: 768px) {
    .singleWrap{
        margin-top: 7vh;
    }
    .col3{
        height: 33%;
    }
    .commentInput{
        padding-top: 10px;
    }
  }

@media (max-width: 540px) {
    .singleWrap{
        margin-top: 6vh;
    }    
    .comm{
        font-size: 12px
    }
    .commentator{
        font-size: 14px;
    }
    .commentInput{
        padding-top: 0;
    }
  }

/* Phone */
@media (max-width: 420px) {
    .singleWrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 9vh;
    }
    .col1{
        width: 50%;
    }
    .col2{
        width: 50%;
    }
    .Wrap{
        height: 48%;
    }
    .col3{
        width: 100%;
        height: 30%;
    }
  }

  @media (max-width: 375px) {
    .singleWrap{
        padding-top: 1vh;
    }  
    .comm{
        font-size: 12px
    }
    .col3{
        width: 100%;
        height: 30%;
    }
  }

/* Phone2 */
@media (max-width: 360px) {
    .singleWrap{
        padding-top: 2vh;
    }  
    .comm{
        font-size: 12px
    }
    .col3{
        width: 100%;
        height: 28%;
    }
  }

/* Phone3 */
@media (max-width: 320px) {
    .singleWrap{
        padding-top: 3vh;
    }
    .col1{
        font-size: 12px;
    }
    .col2{
        font-size: 12px;
    }
    .col4{
        margin: 0px 0px 10px 0px;

    } 
    .Wrap{
        height: 50%;
    }
  }

/* Phone4 */
@media (max-width: 280px) {
    .singleWrap{
        padding-top: 1vh;
    } 
    .col4{
        margin: 0px 0px 10px 0px;

    } 
}

