.wrapper{
    min-height: 150px;
    display: flex;
    position: relative;
    margin-bottom: 8px; 
    opacity: 1;
    transition: all 0.2s ease;
    font-weight: 500;
    border: 1px dashed chocolate;
    background-color: #AAD4C8;
}
.addedWrapper{
    opacity: 0;
    transition: all 0.2s ease;
}

.message{
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
}

.name{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

.post{
    position: absolute;
    right: 0;
    top: 0;
}

.comments{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.toolsWrap{
    display: flex;
    align-items: center;
    width: 30%;
}

.commentsInput{
    height: 95px;
    border: 1px solid rgb(0, 0, 0);
    width: 50.6%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.btnWrap{
    width: 40%;
    height: 34px;
    border: 0;
    background: #12b4ff;
    font-weight: 700;
    color: snow;
    transition: all 0.2s ease;
    border-radius: 3px;
}

.btnWrap:hover {
    background-color: #12b4ffbe;
    transition: all 0.2s ease;
    cursor: pointer;
} 

.btnWrap:active {
	transform: translateX(4px);
}