.wrapper{
    min-height: 150px;
    display: flex;
    position: relative;
    margin-bottom: 10px; 
    opacity: 1;
    transition: all 0.2s ease;
    font-weight: 500;
    border: 1px dashed chocolate;
}
.addedWrapper{
    opacity: 0;
    transition: all 0.2s ease;
}

.message{
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
}

.name{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

.post{
    position: absolute;
    right: 0;
    top: 0;
}

.comments{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.toolsWrap{
    display: flex;
    align-items: flex-end;
}

.commentsInput{
    height: 90px;
    border: 1px solid yellow;
    width: 80%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.inptWrap{
    width: 80%;
    height: 30px;
    background: #fff;
    border: 1px solid #bebebe;
    border-right: 0;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    border-radius: 3px 0 0 3px;
}

.inptWrap:focus{
    outline: 0;
    border-color: #12b4ff;
}

.btnWrap{
    width: 40%;
    height: 34px;
    border: 0;
    background: #12b4ff;
    font-weight: 700;
    color: snow;
    border-radius: 2px;
    transition: all 0.2s ease;
    border-radius: 0px 3px 3px 0px;
}

.btnWrap:hover {
    background-color: #12b4ffbe;
    transition: all 0.2s ease;
    cursor: pointer;
} 

.btnWrap:active {
	transform: translateX(4px);
}