.wrapper{
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.btnWrap{
    width: 10%;
    height: 20px;
    border: 0;
    background: #EE6C87;
    font-weight: 700;
    color: #283054;
    transition: all 0.2s ease;
    border-radius: 3px;
}

.btnWrap:hover {
    background-color: rgb(223, 139, 155);
    transition: all 0.2s ease;
    cursor: pointer;
} 

.btnWrap:active {
	transform: translateY(4px);
}