  .searchContainer{
    padding: 0 0 0 5px ;
    background: #000;
    text-align: center;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    color: #fcfcfc;
    border: 2px solid #12f8ad;
  }

  .searchContainer .searchInput {
    background: transparent;
    border: none;
    outline: none;
    width: 500px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
    color: #fcfcfc;
  }

  .searchBtn{
    padding: 8px 12px;
  }
  
  .searchContainer .searchBtn{
    color: #12f8ad;
    border: 0;
    background: transparent;
  }

  .searchBtn:hover{
    background: #12f8ad;
    border-radius: 50%;
    color: #fff;
  }

  .searchBtn:disabled{
    opacity: 0.5;
  }

  /* Ipad */
@media (max-width: 768px) {
  .searchContainer .searchInput {
    width: 300px;
  }
}

@media (max-width: 540px) {
  .searchContainer .searchInput {
    width: 170px;
  }
}

/* Phone */
@media (max-width: 420px) {
    .searchContainer > .searchInput{
      width: 250px;
    }
}

/* Phone */
@media (max-width: 320px) {
  .searchContainer > .searchInput{
    font-size: 12px;
  }
}

/* Phone */
@media (max-width: 280px) {
  .searchContainer > .searchInput{
    width: 200px;
  }
}